body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
    display: grid;
	grid-template-rows: 100px 1fr;
	grid-template-columns: 350px 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content";
}

.header {
	grid-area: header;
	padding:10px;
    background-color: rgb(196, 168, 137);
	color:white;
}
.sidebar {
	grid-area: sidebar;
	padding:10px;
    background-color: rgb(247, 245, 245);
	color:gray;
}
.content {
	grid-area: content;
}

.sidebar-item{
	padding: 10px;
	background:white;
	border: 7px solid rgb(218, 195, 168);
	margin: 5px;
	color:gray;
}